*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/androidApp/debug/*
/androidApp/build/*
/androidApp/release/*
/shared/build/*
**/google-services.json
**/GoogleService-Info.plist